html,
body {
	height: 100%;
	width: 100%;
}
body {
	background: #F3F2F1;
	margin: 0 auto;
	line-height: 1.5;	
	color: #111;
font: 15px/20px 'Open Sans', sans-serif;
-webkit-font-smoothing: antialiased;
}
.btn {
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	padding: 7px 20px;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-primary {
	background: #166596;
}
.btn-primary:hover {
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: #50A5DA
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h4 {
	font-size: 18px;
	text-transform: uppercase;
	color: #8D8D8D;
	margin-bottom: 15px;
	margin-top: 0;
	font-weight: bold;
}
header {
	background: #0066A4;
	position: fixed;;
	top: 0;
	width: 100%;
	z-index: 2;
}
.container {
	width: 960px;
}
.social {
	float: right;
	list-style: none;
	margin: 25px 0 25px 20px;
	padding: 0;
	overflow: hidden;
}	
.social li {
	background: rgba(0, 0, 0, 0.11);
	float: left;
	height: 27px;
	margin: 0 0 0 10px;
	padding: 0;
	width: 27px;
	border-radius: 50%;
	text-align: center;
	opacity: .7;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.social li:hover {
	opacity: 1;
	background: #FFF;
}
.social li:hover a {
	color: #0066a4;
}
.social li a {
	display: block;
	text-align: center;
	line-height: 27px;
	color: #FFF;
	font-size: 12px;
}
.logo {
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 24px;
	display: inline-block;
	font-weight: 400;
	line-height: 77px;
}
.subtitle {
	text-align: center;
	margin-bottom: 40px;
	font-weight: bold;
	color: #810E0E;
}
.map {
	height: calc(100% - 63px);
	background: rgba(0, 102, 164, 0.32);
	margin-top: 77px;
	position: relative;
}
.map .overlay {
	position: absolute;
	top: 77px;
	background: #FFF;
	padding: 40px 80px;
	right: 0;
}
.rsvp {
	margin: 0;
	font-size: 30px;
	line-height: 1.5;
 	position: relative;
}
.close {
	position: absolute;
	right: 0;
	top: 20px;
	font-size: 16px;
	opacity: 1;
	background: #fff;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: #ccc;
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
}
.prev-meetups {
	background: #F2F2F2;
	padding: 0 0 100px;
	box-shadow: 0 -2px 10px #ccc inset;
}
.headline {
	text-align: center;
	padding: 50px 0;
}
.headline h3 {
	color: #727272;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}
.nav-tabs {
	border: none;
	margin-bottom: 0;
}
.nav-tabs li {
	width: 50%;
	text-align: center;
}
.nav-tabs > li > a {
	background: #efefef;
	border: 1px solid #CCC;
	border-right: 0;
	border-radius: 0;
	color: #727272;
	font-size: 13px;
	margin: 0;
	padding: 12px;
}
.nav-tabs > li:last-child > a{
	border-right: 1px solid #CCC;
}
.nav-tabs > li > a:hover {
	background: #e2e2e2;
	border-color: #CCC;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	color: #000;
	border-color: #CCC #CCC transparent;
	border-right: 0;
}
.tab-content {
	background: #FFF;
	border: 1px solid #CCC;
	font-size: 16px;
	padding: 40px;
}
.tab-content p {
	color: #888888;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 12px;
	margin-top: 0;
}
footer {
	background: #00314E;
	padding: 50px;
}
footer h3 {
	text-shadow: none;
	font-weight: bold;
	font-size: 17px;
	color: #FFF;
	border: none;
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #2a3436;
}
footer p {
	margin-bottom: 10px;
	color: #717576;
	font-size: 13px;
}
}